{% block head %}
<title>Graphs and Plots</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/graphs.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
{% endblock %}

{% block body %}
<nav class="view_nav">
    <br>
    <a href="/" class="nav_link">Home</a>
    <br><br><br>
    <a href="/display" class="nav_link">Structured Log</a>
    <br><br><br>
    <a href="/graphs" class="nav_link">Graphs & Plots</a>
    <br><br><br>
    <a href="/custom" class="nav_link">Custom Plots</a>
</nav>
<div id="content">
<form method="POST" enctype="multipart/form-data" class="start_end_form" >
    <label for="start_date_time">Start Date and Time :</label>
    <select class="start_date_time" id="start_year" name="start_year">
        <option value="{{firstYear}}">{{firstYear}}</option>
        {% for year in yearlist1 %}
            <option value="{{ year }}">{{year}}</option>
        {% endfor %}
    </select>
    <select class="start_time" id="start_month" name="start_month">
        <option value="{{firstMonth}}">{{firstMonth}}</option>
        {% for month in monthlist1 %}
            <option value="{{ month }}">{{month}}</option>
        {% endfor %}
    </select>
    <input type="text" class="start_date_time" id="start_date" name="start_date" value={{firstDate}}></input>
    <input type="text" class="start_date_time" id="start_time" name="start_time" value={{firstTime}}></input>
    <br><br>
    <label for="end_date_time">End Date and Time   :</label>
    <select class="end_date_time" id="end_year" name="end_year">
        <option value="{{lastYear}}">{{lastYear}}</option>
        {% for year in yearlist2 %}
            <option value="{{ year }}">{{year}}</option>
        {% endfor %}
    </select>
    <select class="end_date_time" id="end_month" name="end_month">
        <option value="{{lastMonth}}">{{lastMonth}}</option>
        {% for month in monthlist2 %}
            <option value="{{ month }}">{{month}}</option>
        {% endfor %}
    </select>
    <input type="text" class="end_date_time" id="end_date" name="end_date" value={{lastDate}}></input>
    <input type="text" class="end_date_time" id="end_time" name="end_time" value={{lastTime}}></input>
    <br>
    <input type="submit" class="button">
</form>
{% if msg %}
    <p>Please enter valid Start and End times</p>
{% endif %}
{% if timeerror %}
    <p>{{timeerror}}</p>
{% endif %}
{% if displayyes %}
    <h4>From {{displayFrom}} To {{displayTo}}</h4>

    <form method="POST" enctype="multipart/form-data" action="/download_graph">
        <label for="plotType">Download</label>
        <select class="plotType" name="plotType">
            <option>Events logged with time (Line Plot)</option>
            <option>Level State Distribution (Pie Chart)</option>
            <option>Event Code Distribution (Bar Plot)</option>
        </select>
        <label for="down_graph">as</label>
        <select class="down_graph" name="download_as">
            <option>PNG</option>
            <option>JPEG</option>
            <option>PDF</option>
        </select>
        <button type="submit" class="button">Download</button>
    </form>
    <div class="line">
        <img src="{{ url_for('static', filename='events_vs_time.png') }}" alt="Line Plot">
    </div>
    <br><br>
    <div class="pie_and_bar">
    <div class="pie">
        <img src="{{ url_for('static', filename='level_state_distribution.png') }}" alt="Pie Chart">
    </div>
    <div class="bar">
        <img src="{{ url_for('static', filename='event_code_distribution.png') }}" alt="Bar Chart">
    </div>
    </div>
    <br>
{% endif %}
</div>
{% endblock %}