{% block head %}
<title>Display Structured Logs</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/display.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
{% endblock %}

{% block body %}
<nav class="view_nav">
    <br>
    <a href="/" class="nav_link">Home</a>
    <br><br><br>
    <a href="/display" class="nav_link">Structured Log</a>
    <br><br><br>
    <a href="/graphs" class="nav_link">Graphs & Plots</a>
    <br><br><br>
    <a href="/custom" class="nav_link">Custom Plots</a>
</nav>
<div id="content">
<div class="head">
    <h1>{{ tableName }}</h1>
    <a href="/download" class="button" id="down_csv">Download csv</a>
</div>

<p>To filter by EventId, give EventId seperated by commas and/or hyphen</p>
<p>Example : E2,E4-E6</p>
<form method="POST" enctype="multipart/form-data" action="/display">
    <label for="levels">Filter by Level/s:</label>
    <select class="levels" name="level">
        {% for i in levelsList %}
            <option>{{i}}</option>
        {% endfor %}
    </select>
    <label for="eventid">Filter by EventId/s:</label>
    <input type="text" class="eventid" name="eventid" value="E1-E6">
    <button type="submit" class="button">Submit</button>
</form>
<p>Level/s   : {{ selectedLevel }}</p>
{% if filter_msg %}
    <p>EventId/s : {{filter_msg}} </p>
{% else %}
    <p>EventId/s : {{selectedEventId}} </p>
{% endif %}

{% if dataList %}
    {% if not filter_msg and filter_post %}
        <a href="/downloadFilter" class="button" id="down_fil_csv">Download Filtered csv</a>
    {% endif %}
    <table id="csv">
        <tr>
            {% for head in headList %}
                <th>{{ head }}</th>
            {% endfor %}
        </tr>
        {% for rowdataList in dataList %}
            <tr>
                {% for rowdata in rowdataList %}
                    <td>{{ rowdata }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}